{% extends 'app/base.html' %}
{% load static %}
{% block body %}

<div class="container">
    
<br>
<div class="slide"> 
<h2 style="color: white; text-align: center; font-family: 'Holtwood One SC', serif;">Select Service</h2> </div>
<div class="row">
    <div class="col-sm" style="padding: 1rem;">
        <a href="" style="text-decoration: none;" >
          <div class="card">
              <div class="card-body">
                  <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/grocery.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
                <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Groceries</b></h4>
              </div>
            </div></a></div>
      <div class="col-sm" style="padding: 1rem;">
      <a href="" style="text-decoration: none;" >
        <div class="card">
            <div class="card-body">
                <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/footwear.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
              <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Footwear</b></h4>
            </div>
          </div></a></div> 
          <div class="col-sm" style="padding: 1rem;">
            <a href="" style="text-decoration: none;" >
              <div class="card">
                  <div class="card-body">
                      <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/dairy.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
                    <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Dairy</b></h4>
                  </div>
                </div></a></div>
    </div>
    <div class="row">
        <div class="col-sm" style="padding: 1rem;">
            <a href="" style="text-decoration: none;" >
              <div class="card">
                  <div class="card-body">
                      <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/electrical.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
                    <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Electrical</b></h4>
                  </div>
                </div></a></div>
          <div class="col-sm" style="padding: 1rem;">
          <a href="" style="text-decoration: none;" >
            <div class="card">
                <div class="card-body">
                    <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/tap.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
                  <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Hardware</b></h4>
                </div>
              </div></a></div> 
              <div class="col-sm" style="padding: 1rem;">
                <a href="" style="text-decoration: none;" >
                  <div class="card">
                      <div class="card-body">
                          <img src="https://raw.githubusercontent.com/anuj6299/ecomfiles/master/74755a7835f0bcff26d39d6f09aee4c7.jpg" class="img-fluid" style="width: 300px; height: 170px;" alt="...">            
                        <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 0rem;"><b>Furniture</b></h4>
                      </div>
                    </div></a></div>
        </div>
</div>
{% endblock %}