{% extends 'app/base.html' %}
{% load static %}
{% block body %}

<br>
<div class="container">
    <h2 style="color: white; text-align: center; font-family: 'Holtwood One SC', serif;">Grocery Shops in Dayal Bagh</h2>
</div>
<div class="container" style="padding: 10px;">
    <a href="" style="text-decoration: none;" >
      <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color: black; margin-bottom: 0rem;"><b>Singhal Grocery Shop</b></h4>
            <p style= "color: #000; margin-top: 5px; margin-bottom: 5px; font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Address: Sarla Bagh Ext. Road, Dayal Bagh</p>
            <p class="card-text" style="color: #4CAF50; font-weight: 700; font-size: 15px;"> Currently OPEN</p>
          </div>
        </div></a></div>

        <div class="container" style="padding: 10px;">
            <a href="" style="text-decoration: none;" >
              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="color: black; margin-bottom: 0rem;"><b>Another Grocery Shop</b></h4>
                    <p style= "color: #000; margin-top: 5px; margin-bottom: 5px; font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Address: 100 Feet Road, Dayal Bagh</p>
                    <p class="card-text" style="color: #4CAF50; font-weight: 700; font-size: 15px;"> Currently OPEN</p>
                  </div>
                </div></a></div>

                <div class="container" style="padding: 10px;">
                    <a href="" style="text-decoration: none;" >
                      <div class="card">
                          <div class="card-body">
                            <h4 class="card-title" style="color: black; margin-bottom: 0rem;"><b>Selection Grocery Shop</b></h4>
                            <p style= "color: #000; margin-top: 5px; margin-bottom: 5px; font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Address: Pata Nahi Konsi Road, Dayal Bagh</p>
                            <p class="card-text" style="color: #4CAF50; font-weight: 700; font-size: 15px;"> Currently OPEN</p>
                          </div>
                        </div></a></div>

                <div class="container" style="padding: 10px;">
                    <a href="" style="text-decoration: none;" >
                      <div class="card">
                          <div class="card-body">
                            <h4 class="card-title" style="color: black; margin-bottom: 0rem;"><b>Onemore Grocery Shop</b></h4>
                            <p style= "color: #000; margin-top: 5px; margin-bottom: 5px; font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Address: Amar Vihar, Dayal Bagh</p>
                            <p class="card-text" style="color: #f70a1c ; font-weight: 700; font-size: 15px;"> Currently CLOSE</p>
                          </div>
                        </div></a></div>
                        
        <div class="container" style="padding: 10px;">
            <a href="" style="text-decoration: none;" >
              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" style="color: black; margin-bottom: 0rem;"><b>Another Grocery Shop</b></h4>
                    <p style= "color: #000; margin-top: 5px; margin-bottom: 5px; font-size: 15px;"><i class="fas fa-map-marker-alt"></i> Address: 100 Feet Road, Dayal Bagh</p>
                    <p class="card-text" style="color: #f70a1c; font-weight: 700; font-size: 15px;"> Currently CLOSE</p>
                  </div>
                </div></a></div>
                

{% endblock %}